# 01A Data Cleansing Weather

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
%matplotlib inline

## Read Data

In [2]:
weather_df = pd.read_csv('../west_nile/west_nile/input/weather.csv')

## One Hot Encode CodeSum Data

In [3]:
codes = {code: [0]*weather_df.shape[0] for codes in weather_df.CodeSum.unique() for code in codes.split()}

weather_df = weather_df.join(pd.DataFrame(codes))
for i, codesum in enumerate(weather_df.CodeSum):
    for code in codesum.split():
        weather_df.at[i, code] = 1
        
codes_df = weather_df.groupby('Date', as_index=True)[list(codes.keys())].max()

## Calculate Missing Tavg Values

In [4]:
missing_Tavg = weather_df[weather_df.Tavg == 'M'].index

weather_df.loc[missing_Tavg, 'Tavg'] = round((weather_df.loc[missing_Tavg, 'Tmax'] 
                                              + weather_df.loc[missing_Tavg, 'Tmin'])/2)

## Convert Tavg to Int

In [5]:
weather_df.Tavg = weather_df.Tavg.astype(int)

In [6]:
temperature_df = weather_df.groupby('Date')['Tavg','Tmax','Tmin'].mean()

## Drop Unnecessary Columns
- Incorporate Adam's Work

In [7]:
cols_drop = ['Depart','DewPoint','WetBulb','Heat','Cool','Sunrise','Sunset','CodeSum','Depth','Water1',
             'SnowFall','PrecipTotal','StnPressure','SeaLevel','ResultSpeed','ResultDir','AvgSpeed']
weather_df = weather_df.drop(labels=cols_drop, axis=1)

## Export codes_df and temperature_df

In [8]:
with open('../Cleansed_Data/codes_df.pkl', 'wb') as f:
    pickle.dump(codes_df, f)
    
with open('../Cleansed_Data/temperature_df.pkl', 'wb') as f:
    pickle.dump(temperature_df, f)

## Try to incorporate some of Adam's stuff

In [19]:
weather = pd.read_csv('../west_nile/west_nile/input/weather.csv')

In [20]:
def celsius(x):
    c = ((x - 32) * 5.0)/9.0
    return float(c)

In [21]:
missing_Tavg = weather[weather.Tavg == 'M'].index

weather.loc[missing_Tavg, 'Tavg'] = round((weather.loc[missing_Tavg, 'Tmax'] 
                                              + weather.loc[missing_Tavg, 'Tmin'])/2)

In [24]:
weather.Tavg = weather.Tavg.astype(int)

In [25]:
weather['TavgC'] = weather['Tavg'].apply(celsius)
weather['TminC'] = weather['Tmin'].apply(celsius)
weather['TmaxC'] = weather['Tmax'].apply(celsius)

In [27]:
weather['relative_humidity'] = 100 * (np.exp((17.625 * weather.DewPoint.apply(celsius)) / (243.04 + weather.DewPoint.apply(celsius))) / np.exp((17.625 * weather.Tavg.apply(celsius)) / (243.04 + weather.Tavg.apply(celsius))))

In [28]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,TavgC,relative_humidity
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,M,0.0,0.00,29.10,29.82,1.7,27,9.2,19.444444,56.438576
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,M,M,0.00,29.18,29.82,2.7,25,9.6,20.000000,54.526426
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,M,0.0,0.00,29.38,30.09,13.0,4,13.4,10.555556,71.195808
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,M,M,0.00,29.44,30.08,13.3,2,13.4,11.111111,68.614962
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,M,0.0,0.00,29.39,30.12,11.7,7,11.9,13.333333,54.874919

In [34]:
weather.count()

Station              2944
Date                 2944
Tmax                 2944
Tmin                 2944
Tavg                 2944
Depart               2944
DewPoint             2944
WetBulb              2944
Heat                 2944
Cool                 2944
Sunrise              2944
Sunset               2944
CodeSum              2944
Depth                2944
Water1               2944
SnowFall             2944
PrecipTotal          2944
StnPressure          2944
SeaLevel             2944
ResultSpeed          2944
ResultDir            2944
AvgSpeed             2944
TavgC                2944
relative_humidity    2944
dtype: int64

In [39]:
weather[['Station','Date','Sunrise', 'Sunset']].head(10)

   Station        Date Sunrise Sunset
0        1  2007-05-01    0448   1849
1        2  2007-05-01       -      -
2        1  2007-05-02    0447   1850
3        2  2007-05-02       -      -
4        1  2007-05-03    0446   1851
5        2  2007-05-03       -      -
6        1  2007-05-04    0444   1852
7        2  2007-05-04       -      -
8        1  2007-05-05    0443   1853
9        2  2007-05-05       -      -

In [40]:
1849 - 448

1401

6:49 - 4:48 =>

In [42]:
sun = weather[weather.Station == 1]

In [ ]:
df['LatAndLong'] = df.apply(lambda x: str(x.Latitude) +', ' + str(x.Longitude), axis=1)

In [44]:
sun['sundiff'] = int(sun.Sunset) - int(sun.Sunrise)

TypeError: cannot convert the series to <class 'int'>

In [50]:
sun['sundiff'] = sun.apply(lambda x: int(x.Sunset) - int(x.Sunrise), axis=1)

/Users/yibingchen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [51]:
sun.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,TavgC,relative_humidity,sundiff
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0.0,0.00,29.10,29.82,1.7,27,9.2,19.444444,56.438576,1401
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0.0,0.00,29.38,30.09,13.0,4,13.4,10.555556,71.195808,1403
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0.0,0.00,29.39,30.12,11.7,7,11.9,13.333333,54.874919,1405
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,0.0,T,29.31,30.05,10.4,8,10.8,14.444444,53.075889,1408
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,0.0,T,29.40,30.10,11.7,7,12.0,15.555556,43.965942,1410

In [ ]:
sun['photo_period']

In [52]:
sun.sundiff.dtypes

dtype('int64')

In [64]:
sun['photoperiod'] =sun.sundiff.map(lambda x: int(str(x)[:2]) + int(str(x)[-2:])/60)

/Users/yibingchen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
sun.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,TavgC,relative_humidity,sundiff,photoperiod
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0.00,29.10,29.82,1.7,27,9.2,19.444444,56.438576,1401,14.016667
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0.00,29.38,30.09,13.0,4,13.4,10.555556,71.195808,1403,14.050000
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0.00,29.39,30.12,11.7,7,11.9,13.333333,54.874919,1405,14.083333
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,T,29.31,30.05,10.4,8,10.8,14.444444,53.075889,1408,14.133333
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,T,29.40,30.10,11.7,7,12.0,15.555556,43.965942,1410,14.166667

In [67]:
weather.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed', 'TavgC', 'relative_humidity'],
      dtype='object')

In [71]:
weather.AvgSpeed.dtypes

dtype('O')

In [79]:
test

1401

In [82]:
median_wind = weather[weather.AvgSpeed!='M'].AvgSpeed.median()

8.1

In [83]:
median_wind = weather[weather.AvgSpeed!='M'].AvgSpeed.median()
weather.AvgSpeed.replace('M', median_wind, inplace=True);

In [97]:
weather.AvgSpeed.dtypes

dtype('O')

In [98]:
weather.AvgSpeed = weather.AvgSpeed.astype(float)

- Photoperiod
- wind speed
- relative humidity
- Tavg

In [ ]:
weather['ideal_condition'] =

In [ ]:
weather.apply(lambda x: x.Tavg)

In [ ]:
def check_ideal(row):
    if row.TavgC >= 10 & row.TavgC <= 27:
        ideal_temp = 1
    else:
        ideal_temp = 0

In [86]:
weather.Tmax.isnull().sum()

0

In [100]:
weather.loc[(weather['TavgC'] >= 10) & (weather['TavgC'] <= 30) & (weather['relative_humidity'] < 95) & (weather['relative_humidity'] > 40) & (weather['AvgSpeed'] < 6), 'ideal_environment']=1
weather.ideal_environment.fillna(0, inplace=True)

In [101]:
weather.ideal_environment.value_counts()

0.0    2365
1.0     579
Name: ideal_environment, dtype: int64

In [121]:
weather[weather.ideal_environment==0][]

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,TavgC,relative_humidity,ideal_environment
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,0.0,0.00,29.10,29.82,1.7,27,9.2,19.444444,56.438576,0.0
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,M,0.00,29.18,29.82,2.7,25,9.6,20.000000,54.526426,0.0
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,0.0,0.00,29.38,30.09,13.0,4,13.4,10.555556,71.195808,0.0
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,M,0.00,29.44,30.08,13.3,2,13.4,11.111111,68.614962,0.0
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,0.0,0.00,29.39,30.12,11.7,7,11.9,13.333333,54.874919,0.0
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,M,0.00,29.46,30.12,12.9,6,13.2,14.444444,51.057657,0.0
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,0.0,T,29.31,30.05,10.4,8,10.8,14.444444,53.075889,0.0
7,2,2007-05-04,78,51,64,M,42,50,M,M,...,M,0.00,29.36,30.04,10.1,7,10.4,17.777778,44.598489,0.0
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,0.0,T,29.40,30.10,11.7,7,12.0,15.555556,43.965942,0.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,M,T,29.46,30.09,11.2,7,11.5,15.555556,45.719851,0.0
10,1,2007-05-06,68,49,59,4,30,46,6,0,...,0.0,0.00,29.57,30.29,14.4,11,15.0,15.000000,33.104628,0.0
11,2,2007-05-06,68,52,60,M,30,46,5,0,...,M,0.00,29.62,30.28,13.8,10,14.5,15.555556,31.944799,0.0
12,1,2007-05-07,83,47,65,10,41,54,0,0,...,0.0,T,29.38,30.12,8.6,18,10.5,18.333333,41.437951,0.0
13,2,2007-05-07,84,50,67,M,39,53,0,2,...,M,0.00,29.44,30.12,8.5,17,9.9,19.444444,35.770152,0.0
16,1,2007-05-09,77,61,69,13,59,63,0,4,...,0.0,0.13,29.21,29.94,3.9,9,6.2,20.555556,70.477825,0.0
20,1,2007-05-11,70,51,61,4,42,51,4,0,...,0.0,0.00,29.33,30.04,11.3,3,12.9,16.111111,49.566968,0.0
21,2,2007-05-11,73,49,61,M,44,51,4,0,...,M,0.00,29.39,30.03,11.7,36,12.8,16.111111,53.516893,0.0
22,1,2007-05-12,64,46,55,-2,36,46,10,0,...,0.0,0.00,29.49,30.20,12.4,3,12.9,12.777778,48.643419,0.0
23,2,2007-05-12,65,47,56,M,37,46,9,0,...,M,0.00,29.54,30.19,12.7,1,13.0,13.333333,48.798684,0.0
24,1,2007-05-13,69,43,56,-2,33,46,9,0,...,0.0,0.00,29.49,30.24,6.6,14,8.1,13.333333,41.626401,0.0
25,2,2007-05-13,69,44,57,M,32,46,8,0,...,M,0.00,29.55,30.24,6.4,11,7.6,13.888889,38.567494,0.0
26,1,2007-05-14,90,56,73,15,47,59,0,8,...,0.0,0.00,29.23,29.97,16.9,21,17.3,22.777778,39.614057,0.0
27,2,2007-05-14,90,54,72,M,45,58,0,7,...,M,0.00,29.31,29.98,14.1,21,14.6,22.222222,37.988253,0.0
28,1,2007-05-15,80,57,69,11,56,61,0,4,...,0.0,0.38,29.13,29.84,8.1,27,12.3,20.555556,63.268000,0.0
29,2,2007-05-15,82,56,69,M,56,61,0,4,...,M,0.60,29.19,29.83,8.1,25,10.8,20.555556,63.268000,0.0
30,1,2007-05-16,66,44,55,-4,43,48,10,0,...,0.0,0.14,29.33,30.03,7.8,36,12.2,12.777778,63.887565,0.0
31,2,2007-05-16,64,45,55,M,42,47,10,0,...,M,0.07,29.39,30.03,8.0,36,11.8,12.777778,61.479445,0.0
32,1,2007-05-17,62,43,53,-6,32,43,12,0,...,0.0,0.00,29.55,30.27,10.5,3,11.3,11.666667,44.606027,0.0
33,2,2007-05-17,61,44,53,M,32,43,12,0,...,M,0.00,29.62,30.27,11.7,1,12.2,11.666667,44.606027,0.0
34,1,2007-05-18,71,42,57,-3,30,46,8,0,...,0.0,0.00,29.53,30.25,5.4,25,7.5,13.888889,35.568597,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2909,2,2014-10-14,67,54,61,M,59,60,4,0,...,M,1.18,28.89,29.54,1.8,12,8.6,16.111111,93.129939,0.0
2910,1,2014-10-15,55,50,53,0,51,51,12,0,...,0.0,0.05,29.05,29.75,9.5,35,9.9,11.666667,92.896375,0.0
2911,2,2014-10-15,58,53,56,M,53,54,9,0,...,M,0.07,29.10,29.74,9.4,35,9.7,13.333333,89.643384,0.0
2912,1,2014-10-16,56,50,53,1,49,51,12,0,...,0.0,T,29.02,29.77,4.1,24,7.4,11.666667,86.241415,0.0
2913,2,2014-10-16,58,53,56,M,52,53,9,0,...,M,T,29.09,29.77,5.4,25,8.4,13.333333,86.407731,0.0
2914,1,2014-10-17,62,48,55,3,46,50,10,0,...,0.0,T,28.99,29.69,11.1,29,13.2,12.777778,71.619617,0.0
2915,2,2014-10-17,63,49,56,M,48,52,9,0,...,M,0.01,29.05,29.69,10.7,28,12.7,13.333333,74.470777,0.0
2916,1,2014-10-18,50,36,43,-8,38,42,22,0,...,0.0,0.01,29.39,30.08,8.2,34,9.2,6.111111,82.378806,0.0
2917,2,2014-10-18,52,39,46,M,40,44,19,0,...,M,0.02,29.44,30.08,7.6,34,8.7,7.777778,79.451190,0.0
2918,1,2014-10-19,54,33,44,-7,38,43,21,0,...,0.0,0.00,29.31,30.07,7.8,21,8.2,6.666667,79.287249,0.0
2919,2,2014-10-19,57,36,47,M,40,44,18,0,...,M,0.00,29.39,30.09,8.8,21,9.0,8.333333,76.508213,0.0
2920,1,2014-10-20,65,46,56,6,44,49,9,0,...,0.0,0.01,29.17,29.90,4.7,32,9.3,13.333333,64.013264,0.0
2921,2,2014-10-20,66,50,58,M,46,51,7,0,...,M,0.00,29.23,29.90,4.9,32,9.1,14.444444,64.262923,0.0
2922,1,2014-10-21,53,45,49,-1,39,44,16,0,...,0.0,0.00,29.46,30.16,10.8,1,11.4,9.444444,68.269642,0.0
2923,2,2014-10-21,54,49,52,M,41,46,13,0,...,M,0.00,29.51,30.15,11.0,36,11.6,11.111111,66.017289,0.0
2924,1,2014-10-22,56,35,46,-4,38,43,19,0,...,0.0,0.00,29.56,30.30,2.9,8,4.8,7.777778,73.485192,0.0
2926,1,2014-10-23,59,36,48,-1,40,45,17,0,...,0.0,0.00,29.39,30.15,7.5,19,7.8,8.888889,73.686514,0.0
2927,2,2014-10-23,62,41,52,M,41,47,13,0,...,M,T,29.46,30.16,7.9,19,8.4,11.111111,66.017289,0.0
2930,1,2014-10-25,72,49,61,13,40,51,4,0,...,0.0,0.00,29.21,29.93,10.4,29,10.9,16.111111,45.876980,0.0
2931,2,2014-10-25,75,52,64,M,41,52,1,0,...,M,0.00,29.27,29.92,9.7,28,10.4,17.777778,42.910048,0.0
2934,1,2014-10-27,77,51,64,16,51,58,1,0,...,0.0,0.00,28.92,29.66,12.0,19,12.9,17.777778,62.642016,0.0
2935,2,2014-10-27,79,54,67,M,52,59,0,2,...,M,0.02,29.00,29.67,12.7,19,13.6,19.444444,58.561426,0.0
2936,1,2014-10-28,68,45,57,10,38,47,8,0,...,0.0,T,29.15,29.85,14.8,26,15.6,13.888889,48.953411,0.0
2937,2,2014-10-28,66,48,57,M,40,48,8,0,...,M,0.03,29.23,29.85,14.0,26,14.6,13.888889,52.927763,0.0
2938,1,2014-10-29,49,36,43,-4,32,40,22,0,...,0.0,0.00,29.36,30.06,9.5,29,9.9,6.111111,64.901384,0.0
2939,2,2014-10-29,49,40,45,M,34,42,20,0,...,M,0.00,29.42,30.07,8.5,29,9.0,7.222222,65.153558,0.0
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,...,0.0,0.00,29.34,30.09,5.1,24,5.5,5.555556,73.076050,0.0
2941,2,2014-10-30,53,37,45,M,35,42,20,0,...,M,T,29.41,30.10,5.9,23,6.5,7.222222,67.801119,0.0
2942,1,2014-10-31,47,33,40,-6,25,33,25,0,...,0.1,0.03,29.49,30.20,22.6,34,22.9,4.444444,54.710080,0.0
2943,2,2014-10-31,49,34,42,M,29,36,23,0,...,M,0.04,29.54,30.20,21.7,34,22.6,5.555556,59.715484,0.0

In [109]:
nminus_df = sun[['Date','relative_humidity']]

In [111]:
nminus_df.head()

         Date  relative_humidity
0  2007-05-01          56.438576
2  2007-05-02          71.195808
4  2007-05-03          54.874919
6  2007-05-04          53.075889
8  2007-05-05          43.965942

In [113]:
!ls ../Cleansed_Data/nminus_df.pkl

Bing - Archive Folder        Notebooks-WIP
Cleansed_Data                West-Nile-Virus-MASTER.ipynb
Models                       West-Nile-Virus-YH.ipynb
Notebooks-Master             west_nile

In [115]:
with open('../Cleansed_Data/nminus_df.pkl', 'wb') as f:
    pickle.dump(nminus_df, f)

In [117]:
with open('../Cleansed_Data/nminus_df.pkl', 'rb') as f:
    nminus_df = pickle.load(f)